.m-wrap-w{width: 90%;max-width: 1200px;min-width: 320px;margin-left: auto;margin-right: auto;}
*{margin:0;padding:0}
html{font-family:"microsoft yahei";background:#f9f9f9}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;font-family:'Microsoft Yahei'}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:#000}
table,tr,td,th{border:0}

.clear{zoom: 1;}
.clear:after{display: block;content: '';clear: both;}
.fl{float: left;}
.fr{float: right;}
a{color: #333;text-decoration: none;outline: 0;}
input[type="button"],
input[type="submit"]{-webkit-appearance: none;outline: 0;}
*{margin: 0;padding: 0;}
.m-wrap-w{width: 90%;max-width: 1200px;min-width: 320px;margin-left: auto;margin-right: auto;}
.margin-t-m{margin-top: 10px;}
.hd-bg{position: fixed;top: 0;left: 0;z-index: 1000;width: 100%;background: #1d1d1d;height: 45px;}
.hd{width: 90%;max-width: 1200px;min-width: 320px;margin-left: auto;margin-right: auto;}
.hd h1{color: #fff;line-height: 45px;margin-right: 30px;font-size: 20px;}
.hd .nav li{float: left;line-height: 45px;}
.hd a{display: block;padding: 0 10px;font-size: 14px;}
.hd a,
.hd a:visited{color: #fff;}
.hd a:hover{background: #027A10;}
.qr-code{width: 30px;height: 30px;background: #fff;margin-top: 7.5px;}
.qr-code img{width: 100%;height: 100%;}
.has-hd{padding-top: 45px;}
.wrap-m{width: 90%;max-width: 1200px;min-width: 320px;margin-left: auto;margin-right: auto;}
.hd-banner-wrap{padding: 30px 0 30px;width: 100%;min-width: 320px;background: url(../img/bg3.jpg) no-repeat 0 center;background-size: 100% auto;}
.search-input-wrap{position: relative;background: rgba(255, 255, 255, 0.4);border: 1px solid #fff;width: 40%;margin: 0 auto;max-width: 400px;min-width: 200px;padding-right: 50px;padding-left: 10px;}
.search-input-wrap input{width: 100%;height: 25px;background: none;border: 0;outline: 0;}
.search-input-wrap .search-btn{position: absolute;display: block;width: 50px;right: 0;top: 0;font-size: 14px;height: 25px;line-height: 25px;-webkit-appearance: none;text-align: center;color: #fff;}
@media only screen and (min-width: 100px) and (max-width: 750px){html{width: 100%;min-width: 100%;}
    .hd{width: 100%;}
    .hd h1{display: none;}
    .hd .nav li{width: 25%;text-align: center;}
    .qr-code{display: none;}}
@media only screen and (min-width: 100px) and (max-width: 640px){.hd .nav span{display: none;}}
.title{font-size: 16px;margin-bottom: 15px;padding-top: 8px;}
.title .box{background: #027A10;display: inline-block;width: 4px;height: 16px;margin-right: 5px;}
.title span{vertical-align: middle;}
.main{width: 70%;}
.side{width: 26%;}
.side .list-style1-wrap{font-size: 13px;margin-bottom: 40px;}
.side .list-style1-wrap li{padding: 5px 0;line-height: 1.8em;border-bottom: 1px dashed #999;}
.side .list-style1-wrap a,
.side .list-style1-wrap a:link,
.side .list-style1-wrap a:visited{color: #333;}
.side .list-style1-wrap a:hover{color: red;}
.block-style1{float: left; border: 1px solid #f5f5f5;background: #fff;padding: 20px 4%;width: 48%;box-shadow: 0 0px 2px #f2f2f2;margin-bottom: 20px;margin-left: 2%;box-sizing: border-box;}

.block-style1 .name{font-size: 22px;     white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.block-style1 .from{color: #999;font-size: 13px;padding: 10px 0;}
.block-style1 .con-word{line-height: 1.8em;font-size: 13px;color: #555;border-bottom: 1px dashed #999;padding-bottom: 20px;margin-bottom: 20px;height: 69px;}
.block-style1 .con-word p{height: 69px;overflow: hidden;}
.label-style1-warp a,
.label-style1-warp a:link,
.label-style1-warp a:visited{float: left;margin-right: 5px;color: #027A10;font-size: 13px;border: 1px solid #027A10;padding: 3px 10px;border-radius: 30px;}
@media only screen and (min-width: 100px) and (max-width: 750px){.wrap-m{width: auto;padding-left: 10px;padding-right: 10px;}
    .main{width: 100%;}
    .side{display: none;}}
@media only screen and (min-width: 100px) and (max-width: 450px){.block-style1{width: 94%;padding-left: 3%;padding-right: 3%;}}

/*文章*/
.page-wrap{ padding: 20px; background: #fff; border: 1px solid #f5f5f5;}
.page-header{margin: 10px 0 25px;  padding-bottom: 25px; border-bottom: 1px dashed #333;}
.page-title{font-size:25px; line-height: 25px; padding-left: 20px; border-left: 5px solid #027A10;}
.page-wrap .describe{font-size:12px; margin-top: 10px}
.page-wrap .describe .date{color:#999;}
.page-wrap .con p{text-indent: 2em; line-height: 35px; font-size:16px;}
.page-wrap .con div{line-height: 35px; font-size:16px;}

.keng{background: #f9f9f9; border: 1px solid #f5f5f5; border-radius: 5px; padding:10px; margin-top: 10px;}
.text-orange{color: orange}
.page-wrap .show-content p{margin-bottom: 20px;text-indent: 0px;}
.page-wrap .show-content img{max-width: 100%;}

/*文档*/
.word-wrap hr{margin-bottom: 40px; border:1px dashed #ccc;  }
.word-list li{float: left; width: 25%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding: 0 20px 40px;}
.word-list img{width: 100%}
.word-list a{display: block;padding:5px; border: 1px solid #ccc;background: #fff; text-align: center;}
.word-list a:hover{box-shadow: 0px 0px 20px #027A10}
.word-list p{font-size:25px;padding: 10px 0;}
@media only screen and (min-width: 100px) and (max-width: 750px){.wrap-m{width: auto;padding-left: 10px;padding-right: 10px;}
    .word-list li{width: 50%;}}
@media only screen and (min-width: 100px) and (max-width: 450px){
    .word-list li{width: 100%;}
}


/*作品*/
.title-prowork-wrap{padding-top: 10px}
.title-prowork{width: 100%; text-align: center; }
.title-prowork a{font-weight: normal;font-size: 15px; margin: 0 16px; }
.title-prowork .on{color: #027A10;text-decoration: underline;}
.main-prowork-bg{background: #fff; box-shadow: 0 0 6px #ccc;}
.main-prowork{width: 100%;}
.con-prowork ul{padding: 0px 0 80px;}
.con-prowork hr{margin-bottom: 60px; border: 1px dashed #ccc;}
.con-prowork li{position: relative; float: left; overflow: hidden; border: 1px solid #aaa; margin: 10px 0; width: 32%; height: 225px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; text-align: center;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.con-prowork .begin{-webkit-animation: proworkbeign 0.5s forwards;}
.con-prowork .end{-webkit-animation: proworkend 0.5s forwards;}
@-webkit-keyframes proworkbeign{
    0% { -webkit-transform: rotateX(0);}
    100% { -webkit-transform: rotateX(-90deg); }
}
@-webkit-keyframes proworkend{
    0% { -webkit-transform: rotateX(-90deg); }
    100% { -webkit-transform: rotateX(0);}
}
.con-prowork .con{display: none; position: absolute; left: 0; bottom: 0; text-align: left; background: rgba(0,0,0,0.8); width: 100%; color: #fff; padding: 10px 0;}
.con-prowork .con>div{padding: 0 15px; line-height: 25px;}
.con-prowork .con>div:nth-child(2){font-size: 12px;}
.con-prowork li:hover .con{display: block;}
.con-prowork .nth2{margin-left: 2%; margin-right: 2%;}
.img-prowork{min-width: 100%; min-height: 100%; max-height: 100%;}
.con-prowork .con img{position: absolute; bottom: 0; right: 0; width: 30%; border: 5px solid rgba(0,0,0,0.8);}

@media only screen and (max-width:750px ) {
    .con-prowork{margin: 0 20px;}
    .con-prowork li{width: 48%;}
    .con-prowork li:nth-child(even){margin-left: 4%;}
    .con-prowork .nth2{margin-left: 0; margin-right: 0;}
    .con-prowork .con{display: block;}
}
@media only screen and (max-width:560px){
    .con-prowork li{width: 100%;}
    .con-prowork li:nth-child(even){margin-left: 0;}
    .con-percollect{padding: 20px;}
}
