<!--头部导航-->
<header class="hd-bg">
    <div class="hd">
        <h1 class="fl">W3CWork</h1>
        <nav class="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/index.html"><span>前端</span>笔记</a></li>
                <li><a href="{{ site.baseurl }}/design.html"><span>交互</span>设计</a></li>
                <li><a href="">作品<span>整理</span></a></li>
                <li><a href=""><span>常用</span>文档</a></li>
                <li><a href="http://www.w3cwork.com">个人<span>简历</span></a></li>
            </ul>
        </nav>
        <div class="fr">
            <div class="qr-code">
                <img src="{{ site.baseurl }}/img/code.jpg"/>
            </div>
        </div>
    </div>
</header>
