<!--主页-->
<!DOCTYPE html>
<html>
<!--引入样式-->
{% include head.html %}
<body>
    <!--引入头部-->
    {% include header.html %}
    <div class="has-hd">
        <div class="clear wrap-m margin-t-m page-wrap">
            <div class="clear page-header">
                <h2 class="fl page-title">
                    {{ page.title }}
                </h2>
                <p class="fr describe">
                    <span>发布于</span>
                    <span class="date">{{ page.date | date: "%Y %D"}}</span>
                </p>
            </div>
            <div class="con">
                {{content}}
            </div>
        </div>
    </div>
</body>
</html>

