<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- angular -->
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <!--underscore-->
    <script src="http://apps.bdimg.com/libs/underscore.js/1.7.0/underscore-min.js"></script>
</head>
<body>
<div ng-controller="mainCtrl">
    <h3>树型</h3>
    <ul ng-repeat="item in objArray">
        <li ng-style="item.style">
            <label>
                <input type="checkbox" ng-click="checkBoxClick(item)" ng-checked="selectIds.indexOf(item.id)!=-1">
                {{item.name}}
                id:{{item.id}} - parentId:{{item.parentId}}
            </label>
        </li>
    </ul>

    <h3>选中的：</h3>
    <div>
        <ul>
            <li ng-repeat="item in selectItem">
                {{item.name}}
            </li>
        </ul>
    </div>

    <h3>选中的最终节点：</h3>
    <div>
        <ul>
            <li ng-repeat="item in selectItem" ng-hide="item.node">
                {{item.name}}
            </li>
        </ul>
    </div>
</div>
<script src="public.js"></script>
</body>
</html>